{% extends "base.html" %}
{% block body %}
    <h1>Creating a competition</h1>
    <form method="POST" action="/form/create_competition/">
        <div>
            <label for="name">Competition Name</label>
            <input type="text" name="name" id="name" />
        </div>
        <div>
            <label for="scored">Scored</label>
            <input type="checkbox" name="scored" id="scored" />
        </div>
        <div>
            <label for="Gender">Gender</label>
            <input type="text" name="name" id="name" />
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
{% endblock %}
