{% extends "base.html" %}
{% block stylesheet_name %}
    <link rel="stylesheet" href="/static/edit_competition.css" />
{% endblock stylesheet_name %}
{% block body %}
    <h1>Editing {{ competition_id }}</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}<li class="{{ category }}">{{ message }}</li>{% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <table>
        <thead>
            <tr>
                <th class="search-box-th">
                    <input type="Text" id="searchBox">
                </th>
            </tr>
        </thead>
        <tbody id="search_table_body">
        </tbody>
    </table>
    <table>
        <colgroup>
            <col class="column-name">
            <col class="column-score">
            <col class="column-delete">
        </colgroup>
        <thead>
            <tr>
                <th>Student</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody id="table_body">
        </tbody>
    </table>
    <button id="saveButton">Save</button>
    <script>const studentDB = {{ student_db|tojson|safe }};</script>
    <script>const competitionID = {{ competition_id|tojson|safe }}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>
    <script src="/static/edit_competition.js"></script>
    <script>
        {% for result in results %}
            addResultElement(
                {{ result.student_id|tojson|safe }},
                {{ result.id|tojson|safe }},
                {{ result.score|tojson|safe }},
                {{ result.archived|tojson|safe }}
            );
        {% endfor %}
    </script>
{% endblock body %}
