{% extends "base.html" %}
{% block body %}
    <h1>Editing {{ race_file }}</h1>
    <table>
        <thead>
            <tr>
                <th>
                    <input type="Text" id="search_box">
                </th>
            </tr>
        </thead>
        <tbody id="search_table_body"></tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Student</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody id="table_body">
        </tbody>
    </table>
    <script>const studentDB = {{ student_db|safe }};</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
    <script src="/static/edit_race.js"></script>
{% endblock %}
