{% extends "base.html" %}
{% block stylesheet_name %}
    <link rel="stylesheet" href="/static/view_event.css" />
{% endblock stylesheet_name %}
{% block body %}
    <h1>Viewing {{ event.name }}</h1>
    <p>
        <a href="/event/{{ event.id }}/create_competition/">Create competition</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>Competition Name</th>
                <th>Scored</th>
                <th>Gender</th>
                <th>Y-Start</th>
                <th>Start Time</th>
            </tr>
        </thead>
        <tbody>
            {% for competition in competitions %}
                {% set link_to_competition = "/competition/"+competition.id|string+"/edit" %}
                <tr>
                    <td>
                        <a class="competition-link" href="{{ link_to_competition }}">{{ competition.name }}</a>
                    </td>
                    <td>
                        <a class="competition-link" href="{{ link_to_competition }}">{{ competition.scored }}</a>
                    </td>
                    <td>
                        <a class="competition-link" href="{{ link_to_competition }}">{{ competition.gender }}</a>
                    </td>
                    <td>
                        <a class="competition-link" href="{{ link_to_competition }}">{{ competition.ystart }}</a>
                    </td>
                    <td>
                        <a class="competition-link" href="{{ link_to_competition }}">{{ competition.start_time }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>
{% endblock %}
